.movies-cardlist {
  padding: 70px 70px 80px;
}

@media screen and (max-width: 1023px) {
  .movies-cardlist {
    padding-top: 83px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies-cardlist {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.movies-cardlist__lists {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 31px;
}

@media screen and (max-width: 1023px) {
  .movies-cardlist__lists {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 35px
  }
}

@media screen and (max-width: 767px) {
  .movies-cardlist__lists {
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 30px;
    row-gap: 19px
  }
}

.movies-cardlist__more {
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 36px;
  color: #FFFFFF;
  display: block;
  border-radius: 5px;
  border: 1px solid #424242;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .movies-cardlist__more {
    width: 240px;
    height: 36px;
  }
}

.movies-cardlist__more_hidden {
  visibility: hidden;
  .page__gallery {
    padding: 70px 70px 80px;
  }
}

  .movies-cardlist__search-error {
    text-align: center;
    color: #FFFFFF;
  }
