.login {
  margin: 0 auto;
  padding-top: 70px;
  width: 396px;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 525px) {
  .login {
    padding-top: 56px;
    width: calc(260/320*100%);
  }
}

.login__link-home {
  width: 38px;
  height: 38px;
  display: block;
  background-image: url(../../images/logo.svg);
  transition: opacity .5s linear;
}

@media screen and (max-width: 525px) {
  .login__link-home {
    margin: 0 auto;
  }
}

.login__title {
  margin: 40px 0;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 525px) {
  .login__title {
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
  }
}

.login__text {
  margin: 16px 0 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 525px) {
  .login__text {
    font-size: 12px;
  }
}

.login__link {
  color: #4285F4;
  text-decoration: none;
  transition: opacity .5s linear;
}

@media (hover: hover) and (pointer: fine) {
  .login__link:hover {
    opacity: 0.7;
  }

  .login__link-home:hover {
    opacity: 0.7;
  }
}

.login__error-request {
  margin-top: 117px;
  width: 100%;
  min-height: 14px;
  color: #FF004C;
  visibility: hidden;
  display: block;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 525px) {
  .login__error-request {
    margin-top: 205px;
  }
}

.login__error-request_active {
  visibility: visible;
}

.login__error-request_type_reg {
  margin-top: 25px;
}

@media screen and (max-width: 525px) {
  .login__error-request_type_reg {
    margin-top: 113px;
  }
}

.login__submit {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  min-height: 45px;
  color: #FFFFFF;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: background-color .5s linear;
}

@media screen and (max-width: 525px) {
  .login__submit {
    font-size: 12px;
  }
}

.login__submit_disabled {
  color: #C2C2C2;
  background-color: #F8F8F8;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .login__submit:hover {
    background-color: rgba(66, 133, 244, .8);
  }
}

.login__label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__subtitle {
  margin-bottom: 10px;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.login__input {
  padding: 15px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  background-color: #2F2F2F;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.login__input_invalid {
  color: #EE3465;
}

.login__input:focus {
  outline: 0.2px solid #4285F4;
}

.login__error {
  color: #EE3465;
  display: block;
  min-height: 24px;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}